* {
    color: black;
}

#logo {
    margin: auto;
    display: block;
    width: 200px;
}

.titlebox {
    display: flex;
    margin: 0px auto;
    transform: rotate(-90deg);
}

.onion {
    display: flex;
    margin: 0px auto;
}

h1 {
    text-align: center;
    color: #ac3973;
}

.text {
    color: #212842;
}

body {
    background-color: #f7ebdf;
    color: #212842;
}

nav {
    padding: 0px;
}

ol,
ul {
    margin-left: -10px;
}

li {
    display: flex;
    margin: 0 auto;
    list-style-type: circle;
} 


.recipes-links a {
    padding: 1em 2em;
    text-decoration: none;
}

.recipes-links a:hover {
    /*farbe wenn man darauf clickt*/
    background-color: #ac3973;
}

.recipes_box {
    border: 2px solid #ac3973;
}