* {
    color: black;
}

#logo {
    margin: auto;
    display: block;
    width: 200px;
}

.title_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.title_pic img {
  width: 350px;
  height: auto;
  transform: rotate(-90deg);
  transform-origin: center center;
}


.onion {
    display: flex;
    margin: 0px auto;
}

h1 {
    text-align: center;
    color: #ac3973;
}

.text {
    padding-top:50px;
    color: #212842;
}

body {
    background-color: #f7ebdf;
    color: #212842;
}

nav {
    padding: 0px;
}

/*
ol,
ul {
    margin-left: -10px;
}
*/

.recipes-links a {
    display: inline-block;
    margin: 0px auto;
    padding: 1.5em 3em; /* größe von hover*/
    text-decoration: none;
}

.recipes-links a:hover {
    /*farbe wenn man darauf clickt*/
    background-color: #ac3973;
}

.recipes_box {
    display: inline;
    border: 2px solid #ac3973;
    padding: 20px;
    margin-top: 100px;
}

.home a:hover{
    background-color: #ac3973;
    display: flex;
    margin: 0px auto;
    border: 2px solid #ac3973;
}

