* {
    color: black;
}

#logo {
    margin: auto;
    display: block;
    width: 200px;
}

.title_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.title_pic img {
  width: 100%;
  max-width: 350px;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.onion {
    display: flex;
    margin: 0px auto;
}

h1 {
    text-align: center;
    color: #ac3973;
}

.text {
    padding-top:50px;
    color: #212842;
}

body {
    background-color: #f7ebdf;
    color: #212842;
}

.recipes-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px auto;
    padding: 1.5em 3em; /* größe von hover*/
}

.recipes-links a:hover {
    /*farbe wenn man darauf clickt*/
    background-color: #ac3973;
}

.recipes_box {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    border: 2px solid #ac3973;
    border-radius: 15px;
    padding: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid #ac3973;
    border-radius: 15px;
}

.home a:hover{
    background-color: #ac3973;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid #ac3973;
}

@media all and (max-width: 600px) {
    .recipes-links {
        flex-wrap: wrap;
    }
    .recipes_box > li {
        flex: 1 1 100%;
    }
}

@media all and (max-width: 400px) {
    .recipes_box > li {
        flex: 1 1 100%;
    }
}
